@import "~src/assets/styles/variables";
$border-size: 4px;

.sidenav {
  &-container {
    height: 100%;

    .mat-drawer {
      background-color: $sm-green;
      border: none;

      &-content {
        background-color: $sm-light-grey;
      }
    }

    .mat-list-base {
      padding-top: 40px;

      .mat-list-item {
        &.mat-list-item-with-avatar {
          height: 40px;
        }
      }
    }
    .sidenav__label.mat-line {
      font-weight: 500;
    }

    &.opened {
      ::ng-deep .mat-drawer-content {
        margin-left: 170px !important;
      }
    }

    ::ng-deep .mat-drawer-content {
      margin-left: 70px !important;
      transition: margin-left 500ms;
    }
  }

  &__panel {
    transition: width 500ms;
    width: 70px;


    &.opened {
      width: 170px;
    }
  }

  &__menu-icon {
    font-size: 32px;
    color: $sm-yellow;
    margin-top: 20px;
  }

  &__link {
    color: $sm-yellow;
    font-weight: bold;

    &:not(.active) {
      padding-left: $border-size;
      opacity: 0.5;
    }

    .mat-icon {
      color: $sm-yellow;
      opacity: 0.5;
    }

    &.active {
      border-left: $border-size solid $sm-yellow;

      .mat-icon,
      .sidenav__label.mat-line {
        color: $sm-yellow;
        opacity: 1;
      }
    }
  }
}

.mat-drawer-container {
  color: $sm-green;
}
