@import "~src/assets/styles/variables";

.users-table {
  width: 100%;
  color: $sm-green;
  box-shadow: none;
  border: 3px dashed $sm-green;
  border-radius: $sm-border-radius;
  background: none;

  .mat-cell {
    color: $sm-green;
  }

  .mat-standard-chip {
    height: unset;
    background-color: $sm-green;
    color: $sm-white;
  }

  &__name {
    min-width: 150px;
  }

  &__id {
    min-width: 50px;
  }


  & &__actions.mat-cell {
    text-align: right;
    color: $sm-yellow;
  }
}
