$sm-black: #494949;
$sm-dark-grey: #858789;
$sm-grey: #F5F5F7;
$sm-light-grey: #F6F6F6;

$sm-dark-blue: #1a237e;
$sm-blue: #303f9f;
$sm-light-blue: #304ffe;

$sm-dark-green: #3C5250;
$sm-green: #425C59;
$sm-light-green: #A2BFBD;
$sm-yellow: #FFCEA3;
$sm-white: #FFFFFF;


$sm-border-radius: 20px;
